* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  height: 90px;
  background-color: #FFE521;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#profile{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#logoLab {
  width: 90px;
  margin: 10px;
}

#photoVanessa {
  border-radius: 50%;
  
}

#nameVanessa {
  font-size: 18px;
  font-weight: 700;
}

#logout {
  font-size: 12px;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  color: rgba(61, 60, 60, 0.829);
}

#menu {
  padding: 0;
  list-style: none;
  background-color: black;
  padding-left: 10px;
  color: #FFE521;
}

hr{
  width: 170px;
  text-align: left;
  margin-left: 0;
  border: black 1px solid;
}

.dropDown {
  padding: 0;
  list-style: none;
}

ul li {
  color: #FFE521;
  background-color: black;
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: center;
  padding: 0 22px;
  margin: 0;
}

ul, nav, li {
  margin: 0 ;
  padding: 0 ;
}

#menu li {
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: center;
  padding: 0;
  transition: all 0.10s linear;
  width: 160px;
  border: 0;
  margin: 0;
}

ul li a {
  display: block;
  color:#FFE521;
  text-decoration: none;
}

#menu li a:hover {
  color: #FFE521;
  background: #333232;
}

ul li:hover {
  color: #FFE521;
  background: #333232;
  cursor: pointer;
}

ul li ul.dropDown {
  min-width: 100%;
  display: none;
  position: absolute;
}

ul li:hover ul.dropDown {
  display: block;
}

ul li ul.dropDown li {
  display: block;
  text-align: left;
}

.dropDown li:hover {
  color: #fff;
}

#filterCity, #filterClass {
  font-size: 22px;
  font-weight: 700;
  padding-left: 12px;
}

#filter {
  margin: 15px;
}

#tabs {
  padding-left: 42px;
  background-color: black;
  font-weight: 800;
}

.hide {
  display: none;
}

#students {
  display: flex;
  flex-wrap: wrap;
  width: 1010px;
}

#divActiveStudents {
  display: flex;
  flex-wrap: wrap;
  width: 1010px;
  font-size: 22px;
  font-weight: 700;
  padding: 3px 50px;
}

#divInactiveStudents {
  display: flex;
  flex-wrap: wrap;
  width: 1010px;
  font-size: 22px;
  font-weight: 700;
  padding: 3px 50px;
}

.studentPhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 60px;
}

.studentName {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 30px;
  width: 250px;
  align-self: center;
}

.techSkills {
  font-size: 20px;
  font-weight: 700;
  margin: 60px 30px;
  width: 150px;
  text-align: center;
  align-self: center;
}

.hseSkills {
  font-size: 20px;
  font-weight: 700;
  margin: 60px 30px;
  width: 150px;
  text-align: center;
  align-self: center;
}


#divActiveStudents p, #divInactiveStudents p {
  left: 105px;
  position: absolute;
  margin: 8px;
  padding: 5px;
  font-size: 32px;
}
#overview{
  display: flex;
  flex-direction: column;
}
.rows{
  display: flex;
  width: 100%;
  justify-content: space-around;
}


/* Números e Títulos: font-family: 'Bitter', serif;*/
