* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  height: 90px;
  background-color: #FFE521;
  font-size: 50px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

#logoLab {
  margin-left: 40px;
}

#photoVanessa {
  border-radius: 50%;
  margin-left: 10px;
}

#nameVanessa {
  font-size: 14px;
  font-weight: 700;
  margin-left: 1000px;
  margin-bottom: 0;
}

#logout {
  font-size: 12px;
  font-weight: 700;
  color: grey;
  margin-top: 70px;
  margin-left: -60px;
}

#menu {
  padding: 0;
  list-style: none;
  background-color: #EBEBEB;
  padding-left: 10px;
}

hr {
  width: 145px;
  margin-left: 8px;
  border: 1px solid #000;
}

.dropDown {
  padding: 0;
  list-style: none;
}

ul li {
  background-color: #EBEBEB;
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: left;
  padding-right: 20px;
}

ul {
  margin: 0;
}

#menu li {
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: left;
  padding-right: 0;
  transition: all 0.10s linear;
  width: 160px;
}

ul li a {
  display: block;
  color: #000;
  text-decoration: none;
}

#menu li a:hover {
  color: #fff;
}

ul li:hover {
  color: #fff;
  background: #939393;
  cursor: pointer;
}

ul li ul.dropDown {
  min-width: 100%;
  display: none;
  position: absolute;
}

ul li:hover ul.dropDown {
  display: block;
}

ul li ul.dropDown li {
  display: block;
  text-align: left;
}

.dropDown li:hover {
  color: #fff;
}

#filterCity, #filterClass {
  font-size: 22px;
  font-weight: 700;
  padding-left: 12px;
}

#filter {
  margin-top: 20px;
}

#tabs {
  padding: 0;
  margin-top: 40px;
}

#hide {
  display: none;
}

#students {
  display: flex;
  flex-wrap: wrap;
  width: 1010px;
}

.studentPhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 60px;
  margin-left: 40px;
}

.studentName {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 30px;
  width: 300px;
}

.techSkills {
  font-size: 20px;
  font-weight: 700;
  margin: 60px 30px;
  width: 150px;
}

.hseSkills {
  font-size: 20px;
  font-weight: 700;
  margin: 60px 30px;
  width: 150px;
}



/* Números e Títulos: font-family: 'Bitter', serif;*/
