* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  height: 80px;
  background-color: #FFE521;
  font-size: 50px;
  display: flex;
  align-items: center;
}

#menu {
  padding: 0;
  list-style: none;
  background: #f2f2f2;
}

.dropDown {
  padding: 0;
  list-style: none;
  background: #f2f2f2;
  width: 40px;
}

ul li {
  background-color: #EBEBEB;
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: left;
  padding-right: 20px;
}

ul{
  margin: 0;
}

#menu li {
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: left;
  padding-right: 20px;
}

ul li a {
  display: block;
  color: #000;
  text-decoration: none;
}

ul li:hover {
  color: #fff;
  background: #939393;
  cursor: pointer;
}

ul li ul.dropDown {
  min-width: 100%;
  display: none;
  position: absolute;
}

ul li:hover ul.dropDown {
  display: block;
  margin: 0;
  padding: 0;
}

ul li ul.dropDown li {
  display: block;
  text-align: left;
}

/* Números e Títulos: font-family: 'Bitter', serif;*/
