* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  height: 80px;
  background-color: #FFE521;
  font-size: 50px;
  display: flex;
  align-items: center;
}

#menu {
  padding: 0;
  list-style: none;
  background-color: #EBEBEB;
}

.dropDown {
  padding: 0;
  list-style: none;
}

ul li {
  background-color: #EBEBEB;
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: left;
  padding-right: 20px;
}

ul {
  margin: 0;
}

#menu li {
  display: inline-block;
  position: relative;
  line-height: 40px;
  text-align: left;
  padding-right: 0;
  transition: all 0.10s linear;
  width: 160px;
}

ul li a {
  display: block;
  color: #000;
  text-decoration: none;
}

#menu li a:hover {
  color: #fff;
}

ul li:hover {
  color: #fff;
  background: #939393;
  cursor: pointer;
}

ul li ul.dropDown {
  min-width: 100%;
  display: none;
  position: absolute;
}

ul li:hover ul.dropDown {
  display: block;
}

ul li ul.dropDown li {
  display: block;
  text-align: left;
}

.dropDown li:hover {
  color: #fff;
}

#filterCity, #filterClass {
  font-size: 18px;
}

#tabs {
  padding: 0;
  margin-top: 80px;
}

#hide {
  display: none;
}

#students {
  display: flex;
  flex-wrap: wrap;
}

#studentPhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 60px;
}

#studentName {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 30px;
}

#techSkills {
  font-size: 20px;
  font-weight: 700;
  margin-top: 60px;
}

#hseSkills {
  font-size: 20px;
  font-weight: 700;
  margin-top: 60px;
}



/* Números e Títulos: font-family: 'Bitter', serif;*/
